.dropdown-container {
  display: flex;
  justify-content: center;
  background-color: var(--color-bg-white);
  margin: var(--container-margin) 0px;
  width: 100%;
  max-width: var(--container-max-width);
  border: var(--container-border-width) solid var(--color-edge);
  border-radius: var(--container-border-radius);
}

.dropdown-select {
  font-size: var(--font-size-small);
  color: var(--color-text-dark);
  border: none;
  width: 100%;
  padding: 10px;
}
