p {
  font-size: var(--font-size-p);
  color: var(--color-text-dark-light);
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: var(--font-size-h1);
  color: var(--color-text-dark);
  margin: 0px;
  padding: 0px;
}

h3 {
  font-size: var(--font-size-h3);
  color: var(--color-text-dark);
  margin: 0px;
  padding: 0px;
}

h4 {
  font-size: var(--font-size-h4);
  color: var(--color-text-dark);
  margin: 0px;
  padding: 0px;
}

.image-large {
  width: 50px;
  height: 50px;
}

.parent-container {
  max-width: var(--container-max-width);
  background-color: var(--color-bg-white);
  border: var(--container-border-width) solid var(--color-edge);
  border-radius: var(--container-border-radius);
  margin: var(--container-margin) 0px;
}

.top-left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  margin: 15px;
  height: var(--weatherinfo-big-height);
}
.top-right-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  text-align: right;
  margin: 15px;
  height: var(--weatherinfo-big-height);
}
.bottom-right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  text-align: right;
  margin: 15px;
  height: var(--weatherinfo-big-height);
}
.bottom-left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  margin: 15px;
  height: var(--weatherinfo-big-height);
}
