.parent-container {
  max-width: var(--container-max-width);
  background-color: var(--color-bg-white);
  border: var(--container-border-width) solid var(--color-edge);
  border-radius: var(--container-border-radius);
  margin: var(--container-margin) 0px;
}

.top-left-container {
  justify-content: left;
  text-align: left;
}
.top-right-container {
  justify-content: right;
  text-align: right;
}
.bottom-right-container {
  justify-content: right;
  text-align: right;
}
.bottom-left-container {
  justify-content: left;
  text-align: left;
}
