.parent-container {
  background-color: var(--color-bg-white);
  border: var(--container-border-width) solid var(--color-edge);
  border-radius: var(--container-border-radius);
  margin: var(--container-margin) 0px;
}
